# comment

COMMENT="VALUE" # comment
DYNAMIC_COMMENT_STRING= # comment

STRING=VALUE
EMPTY_STRING=
STRING_QUOTE='VALUE'
STRING_DOUBLE_QUOTE="VALUE"
DYNAMIC_STRING=

NUMBER=123
NUMBER_AS_STRING_QUOTE='123'
NUMBER_AS_STRING_DOUBLE_QUOTE="123"
DYNAMIC_NUMBER=

FLOAT=1.23
FLOAT_AS_STRING_QUOTE='1.23'
FLOAT_AS_STRING_DOUBLE_QUOTE="1.23"
DYNAMIC_FLOAT=

BOOLEAN_TRUE=true
BOOLEAN_FALSE=false
DYNAMIC_BOOLEAN=

NULL=null
NULL_AS_STRING_QUOTE='null'
NULL_AS_STRING_DOUBLE_QUOTE="null"
DYNAMIC_NULL=
